@font-face {
	font-family: iconfont;
	src: url('../font/iconfont_6425b58.eot?t=1487215084615');
	src: url('../font/iconfont_6425b58.eot?t=1487215084615')
		format('embedded-opentype'),
		url('../font/iconfont_be5a010.woff?t=1487215084615') format('woff'),
		url('../font/iconfont_a6b09aa.ttf?t=1487215084615') format('truetype'),
		url('../font/iconfont_3eb782a.svg?t=1487215084615') format('svg')
}

.iconfont {
	font-family: iconfont !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-tuichu:before {
	content: "\e600"
}

.icon-moban162:before {
	content: "\e602"
}

.icon-101:before {
	content: "\e61b"
}

.icon-yonghu:before {
	content: "\e61e"
}

.icon-yifu:before {
	content: "\e652"
}

.icon-chakan:before {
	content: "\e601"
}

.icon-augiclingdaihou:before {
	content: "\e629"
}

.icon-youceshiyan:before {
	content: "\e646"
}

.icon-xiaoxi:before {
	content: "\e605"
}

.icon-jia:before {
	content: "\e631"
}

.icon-yonghu1:before {
	content: "\e632"
}

.icon-msnui-operate:before {
	content: "\e787"
}

.icon-yuancailiaopandian:before {
	content: "\e612"
}

.icon-xiangmu:before {
	content: "\e60b"
}

.icon-suo:before {
	content: "\e642"
}

.icon-dunpai:before {
	content: "\e60a"
}

.icon-icon86:before {
	content: "\e781"
}

.icon-file:before {
	content: "\e687"
}

.icon-fankui:before {
	content: "\e7b9"
}

.icon-suo1:before {
	content: "\e64e"
}

.icon-xiugai:before {
	content: "\e67c"
}

.lps-header {
	border-bottom: 0 !important;
	height: 70px;
	background-color: #242b33
}

.lps-header .logo {
	position: absolute;
	width: 210px;
	z-index: 2;
	line-height: 70px;
	text-align: center
}

.lps-header .logo img {
	width: 51px
}

.lps-header .logo:after, .lps-nav li:after {
	content: '';
	position: absolute;
	right: 0;
	top: 23px;
	height: 24px;
	width: 1px;
	background-color: #1b222b
}

.lps-header .layui-main {
	margin: 0
}

.lps-header .title {
	font-size: 24px;
	color: #c4c4c4;
	position: absolute;
	left: 235px;
	line-height: 70px
}

.lps-nav {
	position: absolute;
	right: 0
}

.lps-nav li {
	float: left;
	color: #d8d8d8;
	font-size: 14px;
	line-height: 70px;
	padding: 0 20px;
	position: relative;
	cursor: pointer
}

.lps-nav li:hover, .lps-nav li:hover i {
	color: #fff
}

.lps-nav li:last-child {
	padding-right: 30px
}

.lps-nav li i {
	font-size: 18px;
	color: #242b33
}

.lps-nav li span:first-child {
	margin-right: 10px;
	display: inline-block;
	width: 38px;
	height: 38px;
	background-color: #424e5c;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	vertical-align: middle
}

.lps-menu {
	position: fixed;
	top: 70px;
	left: 0;
	height: 100%;
	overflow: auto;
	z-index: 2;
	background-color: #34393d
}

.lps-menu .layui-nav {
	background-color: #404549;
	margin-bottom: 140px
}

.lps-menu .layui-nav-tree {
	width: 210px
}

.lps-menu .layui-nav .layui-nav-item a {
	padding-left: 30px;
	height: 50px;
	line-height: 50px;
	position: relative;
	transition: none;
	-webkit-transition: none
}

.lps-menu .layui-nav .layui-nav-item a i {
	margin-right: 15px
}

.lps-menu .layui-nav-tree .layui-nav-more {
	right: 25px;
	top: 50%;
	margin-top: -6px
}

.lps-menu .layui-nav-tree .layui-nav-child a {
	height: 40px;
	line-height: 40px;
	padding: 0 !important;
	padding-left: 45px !important;
	border-bottom: solid 1px #3c4044
}

.lps-menu .layui-nav-child dd {
	padding: 0 12px;
	border-left: solid 3px #404549
}

.layui-nav-item>a {
	background-color: #34393d !important
}

.layui-nav-item>a:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 186px;
	left: 12px;
	height: 1px;
	background-color: #3c4044
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-this,
	.layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
	border-bottom-color: #6a96df !important
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-this,
	.layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
	background-color: inherit
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd:hover
	{
	background-color: #6a96df;
	border-left: solid 3px #fab530
}

.layui-nav-tree .layui-nav-child dd:hover a {
	border-bottom-color: #6a96df !important
}

.lps-menu .layui-nav-tree .layui-nav-bar {
	background-color: #fab530;
	width: 3px
}

.index-updatePassword {
	display: none;
	padding: 20px 0 10px !important
}

.index-updatePassword .layui-btn {
	width: 100px
}

.index-shade-ban {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999999;
	opacity: 0
}

.lps-manage-info {
	padding-top: 23px !important;
	padding-left: 38px;
	padding-right: 38px;
	position: relative
}

.lps-manage-info .btn-box {
	position: absolute;
	right: 0
}

.lps-manage-info .btn-box .layui-btn {
	width: 120px
}

.lps-manage-info h2.title {
	font-size: 16px;
	color: #333;
	border-left: solid 5px #fab530;
	padding-left: 7px
}

.lps-manage-info .waterfall-box {
	-webkit-column-width: 250px;
	-moz-column-width: 250px;
	-o-colum-width: 250px
}

.lps-manage-info .function-box {
	background-color: #f0f2f5;
	border: solid 1px #e4e4e4;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 250px;
	position: relative;
	padding-top: 50px;
	display: inline-block;
	margin-right: 10px
}

.lps-manage-info .function-box h5.title {
	width: 100%;
	border: solid 1px #a5abb7;
	background-color: #a5abb7;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	position: absolute;
	top: -1px;
	left: -1px
}

.lps-manage-info .function-box h5.title i {
	margin-right: 5px;
	margin-left: 10px
}

.lps-manage-info .function-box .list-item {
	padding-bottom: 5px
}

.lps-manage-info .function-box .list-item li {
	padding-left: 30px
}

.lps-manage-info .function-box .list-item li:first-child {
	padding-left: 0
}

.lps-manage-info .function-box .list-item .layui-form-checkbox {
	padding-left: 30px;
	padding-right: 0
}

.lps-manage-info .function-box .list-item .layui-form-checkbox i {
	left: -7px
}

.lps-manage-info.type-info .btn-box {
	display: none
}

.lps-manage-info.lps-info-box.type-info input {
	border: solid 1px #e6e6e6 !important
}

.lps-manage-info.lps-info-box.type-info .layui-checkbox-disbaled.layui-form-checked:hover i
	{
	color: #6a96df !important
}

.lps-manage-info.lps-info-box.type-info .layui-checkbox-disbaled.layui-form-checked
	{
	border-color: #6a96df !important
}

.lps-manage-info.lps-info-box.type-info .layui-checkbox-disbaled.layui-form-checked span
	{
	background-color: #6a96df !important
}

body {
	background-color: #f5f5f5
}

.iconfont {
	display: inline-block;
	vertical-align: middle
}

.lps-module {
	width: 100%;
	height: 100%;
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
	padding: 70px 0 0 210px
}

.lps-breadcrumb {
	width: 100%;
	height: 40px;
	background-color: #d5d5d5;
	line-height: 40px;
	padding-left: 37px;
	box-sizing: border-box
}

.lps-breadcrumb .layui-breadcrumb a {
	color: #666
}

.lps-breadcrumb .layui-breadcrumb a cite, .lps-breadcrumb .layui-breadcrumb a:hover
	{
	color: #5091ca !important
}

.lps-content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow-y: auto;
	padding-bottom: 40px;
	position: relative
}

.lps-info-default {
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	padding: 20px 24px 115px
}

.lps-info-default .lps-info-box {
	background-color: #fff;
	width: 100%;
	min-height: 100%;
	border: solid 1px #ccc;
	padding-top: 44px;
	box-sizing: border-box
}

.lps-info-default .layui-form-item {
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 25px
}

.lps-info-default .layui-form-select {
	width: 182px
}

.lps-info-default .lps-input-required:after {
	content: '*';
	color: #f9656b;
	position: absolute;
	right: -15px;
	top: 10px;
	font-size: 24px
}

.lps-info-default .form-btn-box .layui-btn {
	width: 120px
}

.lps-info-default .form-btn-box {
	width: 100%;
	text-align: center;
	margin-top: 150px
}

.lps-info-default .form-btn-box .layui-input-block {
	margin-left: 0
}

.lps-info-default .lps-info-box.type-info input {
	border: 0;
	border-bottom: solid 1px #e6e6e6;
	color: #666 !important
}

.lps-info-default .lps-info-box.type-info .lps-input-required:after,
	.lps-info-default .lps-info-box.type-info .layui-edge,
	.lps-info-default .lps-info-box.type-info .layui-form-radio,
	.lps-info-default .lps-info-box.type-info .layui-form-radioed i,
	.lps-info-default .lps-info-box.type-info .form-btn-box,
	.lps-info-default .lps-info-box.type-update .update-hide,
	.lps-info-default .lps-info-box.type-add .add-hide, .lps-list-default .table-operation:last-child:before
	{
	display: none
}

.lps-info-default .lps-info-box.type-info .layui-form-radioed {
	display: inline-block !important;
	color: #666 !important
}

.lps-content .btn-yellow {
	margin-left: 20px;
	background-color: #fab530;
	width: 100px;
	font-size: 12px
}

.lps-content .btn-simple-blue {
	font-size: 12px;
	color: #3678c2;
	width: 120px;
	border-color: #3678c2
}

.lps-content .btn-simple-blue i {
	margin-right: 5px
}

.lps-welcome {
	/* background-image: url("../img/.png"); */
	width: 677px;
	height: 341px;
	position: absolute;
	top: 35%;
	left: 50%;
	margin-top: -171px;
	margin-left: -339px
}

.lps-list-default {
	padding: 0 25px
}

.lps-list-default .layui-table thead {
	border: solid 1px #a5abb7;
	border-bottom: 0
}

.lps-list-default .layui-table th {
	padding: 0;
	line-height: 30px;
	background-color: #a5abb7;
	color: #fff;
	font-weight: 100;
	text-align: center;
	border: 0
}

.lps-list-default .layui-table td {
	line-height: 50px;
	padding: 0;
	font-size: 14px;
	color: #666;
	text-align: center
}

.lps-list-default .layui-table td {
	border: 0;
	border-right: solid 1px #eaeaea
}

.lps-list-default .layui-table tr td:last-child {
	border-right: 0
}

.lps-list-default .layui-table tbody tr:nth-child(2n) {
	background-color: #f0f2f5
}

.lps-list-default .layui-table tbody {
	border: solid 1px #ccc;
	border-top: 0
}

.lps-list-default .table-operation-box {
	width: 280px
}

.lps-list-default .table-operation-box .layui-icon, .lps-list-default .table-operation i.icon-chakan
	{
	font-size: 20px
}

.lps-list-default .table-operation {
	cursor: pointer;
	display: inline-block;
	width: 80px;
	text-align: center;
	color: #62a6e1;
	vertical-align: middle;
	position: relative
}

.lps-list-default .table-operation:before {
	content: '';
	position: absolute;
	width: 1px;
	height: 16px;
	background-color: rgba(99, 166, 225, .3);
	right: 0;
	top: 50%;
	margin-top: -8px
}

.lps-list-default .table-operation i {
	font-size: 16px
}

.lps-page-default {
	text-align: center;
	margin-top: 50px
}

.layui-form-pane.lps-form-pane .layui-form-label {
	border-color: #6a96df;
	background-color: #6a96df;
	width: auto;
	color: #fff
}

.lps-operation-bar {
	padding: 17px 45px;
	background-color: #fff;
	border: solid 1px #e5e5e5;
	border-top: 0
}

.lps-operation-bar .layui-form-item {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	margin-right: 10px
}

.lps-operation-bar .layui-input-block {
	margin-left: 0
}

.lps-operation-bar .item-right {
	float: right;
	margin-right: 0
}

.lps-operation-bar .layui-form {
	display: inline-block
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: #fff
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #fff
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #bbb
}